main {
    max-width: 1200x;
    margin: auto;
    padding: 1em;
}

.content_information {
    display: flex;
    flex-wrap: wrap;
    /* height: 70%; */
}
.content_item {
    background-color: var(--color1);
    width: 100%;
    height: 100px;
    padding: 5px;
    color:var(--color-white);
}
.content_item2{
    background-color: var(--color2);
    width: 100%;
    height: 100px;
    padding: 5px;
    color:var(--color-white);
}
.content_item3{
    background-color: var(--color3);
    width: 100%;
    height: 100px;
    padding: 5px;
    color:var(--color-white);
}
.content_item4{
    background-color: var(--color4);
    width: 100%;
    height: 100px;
    padding: 5px;
    color:var(--color-white);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_buttons_fill {
    border-bottom: 1px solid;
    margin-top: 15px;

}

.content_buttons_border {
    border-bottom: 1px solid;
    margin-top: 15px;

}